.grid {
    width: 400px;
    height: 600px;
    position: relative;
    font-size: 50px;
    text-align: center;
    background-image: url(./images/background.jfif);
}

.doodler {
    width: 65px;
    height: 85px;
    background-image: url(./images/doodler.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}

button {
    border-radius: 1rem;
    height: 60px;
    width: 400px;
    border-style: none;
    margin-bottom: 10px;
    background-color: rgb(231, 46, 86);
    font-size: large;
    color: whitesmoke;
}

.score {
    height: 60px;
    width: 400px;
    background-image: url(./images/score.jfif);
    text-align: center;
    font-size: 50px;
}